GAME_DIR=E:\Games\S.T.A.L.K.E.R. 2.Heart.of.Chornobyl.Ultimate.Editon
MAPPINGS_FILE=E:\Games\S.T.A.L.K.E.R. 2.Heart.of.Chornobyl.Ultimate.Editon\Stalker2.usmap
MAPS_TOOLS=D:\Projects\github\maps\tools
EXPORT_DIR=C:\Temp\Exports
